{% extends "base.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="mb-4">What Post(s) Are You Looking For?</legend>
        <div class="form-group">
          {{ form.search.label(class="form-control-label") }}
          {% if form.search.errors %}
            {{ form.search(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.search.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.search(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock content %}
